@charset "UTF-8";


/*순서대로 주석 치면서 확인 과정 로그인 언더 에어리어가 배경을 잡아준다.*/
/*절대 경로가 아닌 absol을 이용해서 right top혹은 margin 으로 줘야 크기를 키우거나 수정할 때 편하다. */

#contents_sub{
	/* border : 1px solid black; */
	
	width: 900px;
	height:auto;
	margin : auto;
	padding-top : 80px;

	

	
	
}

.login_area{ /*  공간 테투리 잡기 -> 보더로 확인 */
	/* border : 1px solid black; */
	
	width: 750px;
	height: 205px;
	background: url(../img/login_bg.png) no-repeat;
	margin : 80px auto;
	padding : 20px 70px;
	

}

.sub_title{
	/* 3군데나 있는 데 공통적으로 다 넣어버렸다. */
	background: url(../img/sub_title.png) no-repeat;
	text-indent: -9999px;
}
/* 왼쪽이 퍼슨 로그인 오른쪽이 그룹로그인 */

/************************** 
여기서 부터 시작
float을 시작한다 inline-b은 간격때문에 까다롭다
그룹과 퍼슨을 양분하자 테두리 안에서
********************************/


.person_login{
	float : left;
	width: 290px;
	/*이러면 조금 붙어있는 데 밑에있는 것도 뜨워서 오른쪽으로 보내준다.*/
	
	
}

.group_login{
	float : right;
	width: 290px;
	/*너비만 잘 정해주니까 알아서 우측으로 가준다*/
}


/* 로그인에 여유를 주기위해 padding을 주자 */

.login{
	padding: 15px 0; /*위아래만 띄워주자*/
}

/*이제는 타이틀을 바꿔줄때*/

/*h1태그의 타이틀 2에 부여하겠다.*/

h1.tit02{
	width : 132px;
	height: 30px; /*이건 봐가면서 조정*/
	
	background-position: 0 -50px;
}

h2.title02{
	width : 290px;
	height: 75px; /*이건 봐가면서 조정*/
	
	background-position: 0 -160px;
}

h2.title01{
	width : 290px;
	height: 75px; /*이건 봐가면서 조정*/
	
	background-position: 0 -80px;
}


.login .input_area p label{
	
	display: inline-block;
	width : 50px;
	background: url(../img/bult.png) no-repeat 0 -72px;
	/*아이디 앞에 방울을 달아주었다.*/
	
	padding-left: 10px;/*안쪽 여백을 주겠다는 의미 , 글자 밀려난다.*/

}

.login .input_area p { /*위아래 여백주기*/
	
	padding : 3px 0;
	
}

.login .input_area p:first-child{
	/*그림 사이의 간격을 줄이기 위함 p태그중 가장 첫번째 선택*/
	padding-top: 0;
}


.login .input_area p input{
	
	width: 110px;
	border: 1px solid #ccc; /*비밀번호 창 테투리 연한 회색 출력*/
	height : 14px;
	/*껌뻑이지가 않는다. 이럴때는 패딩을 준다. 안쪽 여백*/
	padding : 5px; /*충분한 공간이 생겨서 더 커진다. 안쪽 여백 덕에 더 커진다.*/
	/*비번창이 깍인 효과*/
	border-radius: 5px; /*모서리 깍기*/
}

.login .input_area{
/*로그인 올라오게 하자*/
	float : left;
	width : 202px;
	 
}

.login_search {
/*비밀번호와 아이디 사이에 회색선 주자*/
	margin-top : 10px;
	border-top: 2px solid #efefef;
	/*너무 붙어있다 띄어주기*/
	padding : 10px 0;
 	position: relative; /*???????????????????????????????????????이거 왜 넣으신거지*/
}


/*************************
버튼 부
**************************/
.btnArea_right{
	float: right; /*로그인이 오른쪽에 맞았을 것이다*/
	
}



.b_login {
	/*로그인 버튼의 크기를 지정하고 위치를 수정해주자*/
	
	width : 86px;
	height: 56px;
	background-position: 0 0;
	
	
}

.b_search{
	/*이디비번 찾기 버튼 크기와 위치 설정*/
	
	width: 156px;
	height: 27px;
	background-position: -100px 0;
	
	position: absolute;
	right : 0;
	/*아까??????에서 relative했으니까 여기서 오른쪽으로 붙일 수 가 있다 공간안에서 놀 수가 있다*/
	top : 3px;
}





















