@charset "UTF-8";


/***********************************
기본적으로 초기화할 내용들
************************************/

/* 모든 태그들에게 */
*{ 
	margin : 0;
	padding : 0;		
}

/* html또는 body tag를 만나면 */

html, body {
		width: 100%;
		height: 100%;
}

/* em은 배수를 지정하는 단위, pre 문단 태그 dl datalist==dl=dt=dd */
html, body, div,span,em,p,address,pre,h1,h2,h3,h4,h5,h6,ul,ol,li,dl
,dt,dd,form, fieldset, legend, label,table, caption, thead, tfoot,tbody,tr,th,td,
a,img{ /*이 모든 조건 들이 모두 or 조건으로 만나면*/
	margin : 0;
	padding : 0;
	border : 0;
	/* 특히 img tag는 border가 자동으로 들어가기에 없에준다 */
	background: transparent; /*투명 , 기본 흰색 배경이 있는 경우 지워라*/
	font-size : 13px;
	line-height: 1;
	font-family: 굴림, gulim ,Arial;
	/*앞의 것이 없으면 다음거 다음거 다음거라는 의미*/
	color : #555;
	text-align: left;
	text-decoration: none; 
	/* 밑줄 긋는 거 싫으니까 삭제 */
	font-weight: normal;
	font-style: normal;
	list-style: none;
	
	
}

table { 
	border-collapse: collapse;
	border-spacing: 0;
	/* collapse와 동일하나 혹시나하는 마음에 spacing */
	table-layout: fixed;
	
}

caption,legend{
	display: none;
	/*안보였으면 좋갰다*/
}
pre{ 
	line-height: 1.5em; 
	/*pre의 부모태그, 밖에 있는 애와 비교해서 1.5배를 의미
	쓸일은 거의 없다. line height는 다 포함해야 중앙에 박힌다.
	*/
}


/*********************
기본적 링크 (a) 스타일
*********************/
/*자주 색으로 바뀌는 a 태그가 촌스럽고 싫다, 변하지 말라고 통일*/
a:hover{color: #555; text-decoration: none;}
a:link{color: #555; text-decoration: none;}
a:visited{color: #555; text-decoration: none;}
a:focus{color: #555; text-decoration: none;}
a:active{color: #555; text-decoration: none;}























































